version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "@sindresorhus/slugify"
      - dependency-name: "@11ty/eleventy-plugin-rss"
        versions: [ "^1.2.0" ]
